// РАЗРЕШЕНИЯ
$width-lg: 1920px;
$width-desktop: 1440px;
$width-desktop-small: 1280px;
$width-tablet-lg: 1024px;
$width-tablet: 768px;
$width-mobile: 320px;

$height-desktop: 840px;

// РЕТИНА
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Шрифт
$font: 'Montserrat';
// ЦВЕТА
$white: #ffffff;
$black: #000000;
$tuna: #30353e;
$athens-gray:  #eaecef;
$dodger-blue: #2c78f6;
$manatee: #909aab;
$geyser: #dee3e7;
$mystic: #e9eef2;

// скорость анимации элементов
$transition: 0.3s ease;
